* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
}

.todo-app {
  background-color: #fff;
  max-width: 550px;
  margin: 130px auto 0;
  text-align: center;
  box-shadow: 2px 2px 2px 2px darkgrey;
}

.header {
  position: relative;
}

.header > h1 {
  font-size: 6rem;
  color: rgb(231, 186, 154);
}

.header > .toggle-all {
  position: absolute;
  bottom: 20px;
  left: 16px;
  width: 2rem;
  height: 2rem;
}

.new-todo {
  width: 100%;
  padding: 20px 20px 20px 65px;
  font-size: 1.5rem;
  border: 1px solid lightgray;
  outline: none;
}

.new-todo::placeholder {
  opacity: 0.5;
}

.todo-list > li {
  border: 1px solid lightgray;
}

.todo-list > li.completed label {
  text-decoration: line-through;
  opacity: 0.4;
  transition: 0.3s ease;
}

.todo-list > li.editing {
  position: relative;
}

.todo-list > li.editing > .edit {
  display: block;
  position: absolute;
  top: 0;
}

.todo-list .view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 1.8rem;
}

.view > .toggle {
  width: 2rem;
  height: 2rem;
}

.view > label {
  width: 100%;
}

.view > .delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.edit {
  display: none;
  width: 100%;
  padding: 15px 15px 15px 65px;
  font-size: 2rem;
  text-align: center;
}

.footer {
}

.footer-wrap {
  display: flex;

  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 15px;
}

.todo-filter {
  display: flex;
}

.todo-filter > li.selected {
  color: blue;
  font-weight: bold;
}

.todo-all {
  cursor: pointer;
  margin-right: 15px;
}
.todo-active {
  cursor: pointer;
  margin-right: 15px;
}
.todo-completed {
  cursor: pointer;
}
.todo-clear {
  cursor: pointer;
}

.todo-list.active > li.completed {
  display: none;
}

.todo-list.completed > li:not(.completed) {
  display: none;
}

.todo-list.active > .todo-active {
  font-weight: bold;
  color: red;
}

.todo-list.completed .todo-completed {
  font-weight: bold;
}
